---
interface Props {
  image: string;
  title: string;
  description: string;
  href: string;
}

const { image, title, description, href } = Astro.props;
---

<div class="card bg-neutral shadow-xl">
  <figure>
    <img
      class="w-full h-80 object-cover"
      src={image}
      alt={title}
    />
  </figure>
  <div class="card-body w-full">
    <h3 class="card-title">{title}</h3>
    <p>{description}</p>
    <div class="card-actions justify-end">
      <a href={href} class="btn btn-primary">Ver noticia</a>
    </div>
  </div>
</div>
