---
interface Props {
  image: string;
  title: string;
  description: string;
  href: string;
}

const { image, title, description, href } = Astro.props;
---

<div class="card">
  <a href={href}>
    <figure>
        <img
          class="w-full h-56 object-cover rounded"
          src={image ?? "/image-not-found.png"}
          alt={title}
        />
    </figure>
  </a>
  <div class="card-body w-full bg-base-300 shadow-xl hover:text-red-600">
    <a href={href}>
      <h3 class="card-title hover:text-red-600 cursor-pointer">{title}</h3>
      <p>{description}</p>
    </a>
  </div>
</div>
